.*.swo
build-*
env
value_semantics
python_main
zionc
logs
*.llir
*.log
.*.swp
tags
*.ir
*.bc
*.o
*.s
*.err
rt_gc
*.dSYM
*.ll
*.html
*.pyc
play/*
tests/*
!**/*.zion
*.zx
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
Makefile.bak
CTestTestfile.cmake
Testing/
