*.trace
camelize
.swp
# Remove test binary executables that may have been generated in the source tree during testing
test_[_a-z]*
!test_[_a-z]*.*

*.ssa-gen
.*.swo
a.out
test.c
test
build-*
env
zion
!zion.*
logs
*.llir
*.log
.*.swp
tags
*.ir
*.bc
*.o
*.d
*.s
*.err
rt_gc
*.dSYM
*.ll
*.html
*.pyc
!**/*.zion
*.zx
CMakeCache.txt
CMakeFiles/
*.cmake
Makefile.bak
Testing/
tests-passed
